/* Browser style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
}

/* Generell style */

/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  transition: max-height 0.2s ease-out;
}

/* Länkar inuti navbar */
.navbar a {
  display: block;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 17px 21px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.navbar span{
  color: rgb(191 146 91);
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: 0;
  outline: none;
  color: white;
  padding: 19px 21px;
  background-color: inherit;
  font-family: "Barlow Semi Condensed", sans-serif; 
  margin: 0; /* för vertikal positionering i mobil version  */
  text-transform: uppercase;
}

/* ändrar färgen på navbar länkarna när man hovrar över */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(59, 58, 58);
}

/* Dropdown meny (dold i default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Länkarna i dropdown menyn */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* annan färg vid hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Visar menyn vid hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/*  headern blir sticky */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(20, 27, 37, 0.8);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* dold mobil meny */
.header .menu-btn {
  display: none;
}
/* sidans logo/style */
.banner h1 {
  text-shadow: 2px 2px 6px #000;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
}

/*style till bakgrundsbild/banner holdern*/
.banner-holder {
  background-image: url("./nathon-oski.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 14rem 1rem;
  position: relative;
}

.banner-holder h1 span{
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;


}
/* Style banner text and button */
.banner-content {
  color: #fff;
  max-width: 605px;
  margin-left: auto;
  position: relative;
}

.sub-title {
  font-family: inherit;
  font-weight: 700;
  color: rgb(191 146 91);
  text-transform: uppercase;
  font-size: 1.1rem;
}
.banner-content h1 {
  font-size: 62px;
  text-transform: uppercase;
  line-height: 1.1;
}

.banner-content--inner {
  border-left: 2px solid rgb(191 146 91);
  padding-inline: 6rem 1rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.banner-content--inner p {
  line-height: 1.8;
  font-size: 18px;
}

.banner-content--inner .btn-custom {
  margin-top: 2.3rem;
  display: inline-block;
}
/* alla button style */
.btn-custom {
  color: rgb(191 146 91);
  border: 2px solid;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
/* alla button hover */
.btn-custom:hover {
  background-color: rgb(59, 58, 58);
}
/* Bakgrunds opacity/genomskinlighet */
.banner-overlay {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* sätter max width på alla containers */
.container {
  max-width: 1160px;
  margin: 0 auto;
}
/* Service holder section */
.service-holder {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #fff;
  position: relative;
}

.service-holder > div {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 20px;
}

/*lägger bilderna ovanför*/
.service-image {
  max-width: 230px;
  margin-top: -136px;
}

.service-holder h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-block: 1.2rem;
}

.service-holder p {
  font-size: 18px;
  line-height: 1.8;
  max-width: 420px;
  margin: 0 auto;
}

.hairstyles,
.hot_shave {
  background-color: rgb(191, 146, 91);
}

.beard_trim,
.hair_shampoo {
  background-color: rgb(183, 134, 73);
}

/* Style footer */
.footer{
  background: #222222;
  padding: 50px;
  font-size: 18px;
}


/* About us - sektion 2 */

.about-img img {
    max-width: 100%;
    display: block;
    height: auto;
}

section#about {
    padding: 60px 15px;
}

.about-content {
    padding-top: 40px;
}

.about-content .sub-title {
    font-family: "Barlow Semi Condensed", sans-serif;
    margin-bottom: 5px;
}

.about-content h2 {
    text-transform: uppercase;
    color: #333;
    line-height: 1.3;
    margin-bottom: 25px;
    font-size: 26px;
}

.about-content p {
    line-height: 1.8;
    margin-bottom: 25px;
}

.year-of-exp {
    background-color: #C0925B;
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 225px;
    margin-top: 40px;
}

.year-of-exp > div {color: #fff;font-weight: 700;max-width: 115px;margin-left: 20px;font-size: 14px;text-transform: uppercase;line-height: 1.1;}

.year-of-exp > div span {

    font-size: 190%;
    display: table;
    line-height: 1.2;
}

.year-of-exp img {
    width: 55px;
}


/* Reviews - sektion 3 */

.rev-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 100%;
  text-align: center;
  background-color: rgb(235, 232, 222);
}
.rev-section p{
color: rgb(191 146 91);
}

.title{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(50, 50, 50);
  margin-bottom: .5rem;
  font-family: Barlow semi condensed;
}
.note{
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
    color: red;
  font

}

.reviews{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

.head-review{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}
.head-review img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.body-review{
  background-color: rgb(250, 249, 249);
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}

.rating{
  color: rgb(191 146 91);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(116, 115, 115);
}

@media (max-width: 678px){
  .review{
    margin-top: 1.5rem;
  }
}


/* Footer - sektion */

.footer p{
  font-family:"Barlow Semi Condensed";
  color:white
   
}

ul {
  font:15px "Poppins";
  list-style-type: none;

  
  /*social media ikoner*/
  }
  .fa {
    padding: 20px 15px;
    font-size: 30px;
    /* width: 50px; */
    text-align: center;
    text-decoration: none;
  }
  
  
  /* Facebook ikonen */
  .fa-facebook {
    color: rgb(183, 134, 73); 
  }
  /* Twitter ikonen*/
  .fa-twitter {
    color: rgb(183, 134, 73);
  }
  /* Insta ikonen*/
  .fa-instagram {
    color: rgb(183, 134, 73);
  }


.footer .footer_menu{
 display: flex;
 margin-bottom: 25px;
 justify-content: space-between;
}
.footer a:hover {
  background-color: #2b2a2a;
}

.footer .footer_menu .title{
 margin-bottom: 10px;
 color: #adadad;
}

.footer .footer_menu ul li a{
 display: block;
 margin-bottom: 6px;
 color: #adadad;
 font-family: "Poppins";
}

.footer .footer_menu ul li a:hover{
 text-decoration: underline;
}

.footer .partners{
 margin-bottom: 25px;
}

.footer .partners ul{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.footer .col1{
  color:#ddd
}

.footer .social_media{
 margin-left: -10px;
}

.footer .social_media ul{
 display: flex;
 justify-content: center;
 margin-bottom: 15px;
}

.footer .social_media ul li a{
 display: block;
 margin: 0 5px;
 color: #fff;
 font-size: 24px;
 width: 50px;
 height: 50px;
 background: #fff;
 color: #222222;
 line-height: 50px;
 border-radius: 3px;
}


.footer .social_media{
 color: rgb(20, 27, 37);
}

@media (max-width:768px) {
 .wrapper .navbar .logo{
   font-size: 20px;
 }
 .main_container {
   padding: 25px;
 }
 .main_container .item{
   flex-direction: column;
 }
 .main_container .item .img_holder{
   max-width: 750px;
   width: 100%;
 }
 .main_container .item .item_info{
   margin-left: 0;
   width: 100%;
   margin-top: 10px;
   text-align: center;
 }
 .footer .footer_menu{
   flex-direction: column;
   width: 220px;
   margin: 0 auto 25px;
 }
 .footer .footer_menu > div{
   margin: 10px 0;
 }
 .footer .partners ul li a{
   margin: 5px;
 }
}

/* -------- tablet CSS ------- */
@media (max-width: 991.98px) {
  .service-image {
    max-width: 109px;
    margin-top: -77px;
  }
}

/* ----- Mobil version ----- */
@media (max-width: 767.98px) {
  .header-inner,
  .navbar {
    display: block;
  }
  .navbar {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgb(20 27 37);
  }
  .banner {
    float: left;
    margin-top: 9px;
    margin-left: 16px;
  }
  .navbar a {
    text-align: left;
  }
  /* meny ikon */

  .header .menu-icon {
    cursor: pointer;

    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 28px;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 8px;
  }

  .header .menu-icon .navicon:after {
    top: -8px;
  }

  /* Navbar knapp */

  .header .menu-btn:checked ~ .navbar {
    max-height: 510px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .banner-content h1 {
    font-size: 55px;
  }
  .banner-content--inner {
    border-left: 0;
    padding-inline: 0;

    margin-left: 0;
  }
  .service-holder > div {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
  }
  .service-image {
    max-width: 170px;
    margin-top: -105px;
  }
  .service-holder > div:not(:last-child) {
    padding-bottom: 8rem;
  }
}


/* Tablet css */

@media(min-width:768px){
  .about-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  .about-holder > div {
    flex: 0 0 48%;
    max-width: 48%;
    padding-top: 0;
}
}

@media(min-width:1024px){
  .about-content .sub-title {

    font-size: 20px;
}
.about-content h2 {

  font-size: 50px;
}
.about-content p {

  font-size: 18px;
}
.year-of-exp {

  padding: 18px;
  max-width: 335px;

}
.year-of-exp img {
  width: 70px;
}
.year-of-exp > div {

  max-width: 150px;

  font-size: 15px;

}
.year-of-exp > div span {
  font-size: 230%;

}
}